/* START GLOBAL STYLES */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* END GLOBAL STYLES */

/* START BODY STYLES */

body {
    color: black;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

/* END BODY STYLES */

/* START MAIN STYLES */

main {
    font-family: 'Quicksand', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 90vh;
}

#time {
    font-size: 8rem;
}

h1 {
    margin-bottom: 3rem;
    font-size: 3rem;
}

h2 {
    margin-bottom: 1rem;
    font-size: 2.5rem;
    opacity: 0.8;
}

#question {
    font-variant: small-caps;
}

/* END MAIN STYLES */

/* START FOOTER STYLES */

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.footer-contents {
    display: flex;
    justify-content: space-between;
}

button {
    padding: 5px 3px;
    margin: 10px;

    font-family: 'Quicksand', sans-serif;
    font-size: 1rem;

    color: white;
    background-color: rgba(255, 255, 255, 0.2);
    border: 2px solid white;
    border-radius: 5px;

    transition: background-color 1s, color 0.5s;
}

button:hover {
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
    cursor: pointer;
}

/* END FOOTER STYLES */

/* START RESPONSIVE STYLES */

@media(max-width: 700px) {
    #time {
        font-size: 6rem;
    }

    button {
        font-size: 0.6rem;
    }
}

@media(max-width: 500px) {
    #time {
        font-size: 3rem;
    }

    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    button {
        font-size: 0.5rem;
    }
}

/* END RESPONSIVE STYLES */